In [25]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import fetch_california_housing
np.random.seed(25)

In [26]:
house = fetch_california_housing(as_frame=True)
y = house.target
x = house.data

In [27]:
x

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [28]:
def minmax(x):
    x_min = x.min()
    x_max = x.max()
    
    return (x - x.min(axis=0)) / (x.max(axis=0) - x.min(axis=0))

x_min = x.min().values
x_max = x.max().values
y_min = y.min()
y_max = y.max()
x_min

array([   0.4999    ,    1.        ,    0.84615385,    0.33333333,
          3.        ,    0.69230769,   32.54      , -124.35      ])

In [29]:
x_scaled = minmax(x)
y_scaled  = minmax(y)
x_scaled

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,0.539668,0.784314,0.043512,0.020469,0.008941,0.001499,0.567481,0.211155
1,0.538027,0.392157,0.038224,0.018929,0.067210,0.001141,0.565356,0.212151
2,0.466028,1.000000,0.052756,0.021940,0.013818,0.001698,0.564293,0.210159
3,0.354699,1.000000,0.035241,0.021929,0.015555,0.001493,0.564293,0.209163
4,0.230776,1.000000,0.038534,0.022166,0.015752,0.001198,0.564293,0.209163
...,...,...,...,...,...,...,...,...
20635,0.073130,0.470588,0.029769,0.023715,0.023599,0.001503,0.737513,0.324701
20636,0.141853,0.333333,0.037344,0.029124,0.009894,0.001956,0.738576,0.312749
20637,0.082764,0.313725,0.030904,0.023323,0.028140,0.001314,0.732200,0.311753
20638,0.094295,0.333333,0.031783,0.024859,0.020684,0.001152,0.732200,0.301793
20639,0.130253,0.294118,0.031252,0.024573,0.038790,0.001549,0.725824,0.309761

In [30]:
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y_scaled,test_size=0.2,random_state=42)


print(f"X_train: {x_train.shape} Y_train: {y_train.shape} X_test: {x_test.shape} Y_test: {y_test.shape}")

X_train: (16512, 8) Y_train: (16512,) X_test: (4128, 8) Y_test: (4128,)

In [31]:
epochs = 1000
alpha = 0.1
w = np.random.rand(x_train.shape[1])
b = 0.0

In [32]:
def pred(x, w, b):
    return np.dot(x, w) + b

In [33]:
def model_training(x_train,w,b):

    for i in range(epochs):
        y_pred = pred(x_train, w, b)

        error = y_pred - y_train  # shape (n,)

        dw = (2 / len(x_train)) * np.dot(x_train.T, error)   
        db = (2 / len(x_train)) * np.sum(error)

        w -= alpha * dw
        b -= alpha * db

        if i % 100 == 0:
            mse = np.mean(error**2)
            print(f"Epoch {i}: Error {mse:.4f}")
        elif(i==1000):
            mse = np.mean(error**2)
            print(f"Epoch {i}: Error {mse:.4f}")       
    return w,b 
            
w,b = model_training(x_train,w,b)

Epoch 0: Error 0.3974
Epoch 100: Error 0.0349
Epoch 200: Error 0.0323
Epoch 300: Error 0.0309
Epoch 400: Error 0.0299
Epoch 500: Error 0.0292
Epoch 600: Error 0.0286
Epoch 700: Error 0.0281
Epoch 800: Error 0.0277
Epoch 900: Error 0.0273

In [34]:
final_pred = pred(x_test,w,b)

In [35]:
y_test

20046    0.067424
3024     0.063507
15663    1.000000
20484    0.419794
9814     0.542268
           ...
15362    0.511959
16623    0.519175
18086    1.000000
2144     0.118146
3665     0.281444
Name: MedHouseVal, Length: 4128, dtype: float64

In [36]:
import tkinter as tk
from tkinter import ttk, messagebox
import numpy as np


# ---------------- PREDICTION FUNCTION ----------------
def calculate():
    try:
        values = np.array([[ 
            float(entries["MedInc"].get()),
            float(entries["HouseAge"].get()),
            float(entries["AveRooms"].get()),
            float(entries["AveBedrms"].get()),
            float(entries["Population"].get()),
            float(entries["AveOccup"].get()),
            float(entries["Latitude"].get()),
            float(entries["Longitude"].get())
        ]])

        values_scaled = (values - x_min) / (x_max - x_min)
        y_pred_scaled = pred(values_scaled, w, b)

        y_pred = y_pred_scaled * (y_max - y_min) + y_min
        price = y_pred[0] * 100000

        result_label.config(
            text=f"Predicted Price: ${price:,.0f}",
            foreground="#0B8457"
        )

    except ValueError:
        messagebox.showerror("Input Error", "Please enter valid numeric values.")


# ---------------- GUI SETUP ----------------
root = tk.Tk()
root.title("House Price Prediction")
root.geometry("560x600")
root.resizable(False, False)
root.configure(bg="#F4F6F8")

style = ttk.Style()
style.theme_use("clam")

# ---------------- STYLES ----------------
style.configure(
    "Title.TLabel",
    font=("Segoe UI", 20, "bold"),
    background="#2E86C1",
    foreground="white",
    padding=15
)

style.configure(
    "Frame.TLabelframe",
    background="#F4F6F8",
    foreground="#2E4053",
    font=("Segoe UI", 11, "bold")
)

style.configure(
    "Frame.TLabelframe.Label",
    background="#F4F6F8",
    foreground="#2E4053"
)

style.configure(
    "Calc.TButton",
    font=("Segoe UI", 12, "bold"),
    background="#2E86C1",
    foreground="white",
    padding=10
)

style.map(
    "Calc.TButton",
    background=[("active", "#1F618D")]
)

style.configure(
    "Result.TLabel",
    font=("Segoe UI", 16, "bold"),
    background="#D5F5E3",
    foreground="#0B8457",
    padding=15
)

# ---------------- TITLE ----------------
ttk.Label(root, text="üè† House Price Prediction", style="Title.TLabel").pack(fill="x")

# ---------------- INPUT FRAME ----------------
frame = ttk.LabelFrame(root, text=" Enter House Features ", style="Frame.TLabelframe")
frame.pack(padx=20, pady=20, fill="both")

features = [
    "MedInc", "HouseAge", "AveRooms", "AveBedrms",
    "Population", "AveOccup", "Latitude", "Longitude"
]

entries = {}

default_values = {
    "MedInc": 4.5,
    "HouseAge": 25,
    "AveRooms": 5.5,
    "AveBedrms": 1.0,
    "Population": 300,
    "AveOccup": 3.0,
    "Latitude": 34.05,
    "Longitude": -118.25
}

# Create labels & entry boxes
for i, feature in enumerate(features):
    ttk.Label(frame, text=feature, background="#F4F6F8").grid(
        row=i, column=0, padx=10, pady=8, sticky="w"
    )

    entry = ttk.Entry(frame, width=25, font=("Segoe UI", 10))
    entry.grid(row=i, column=1, padx=10, pady=8)
    entry.insert(0, str(default_values[feature]))
    entries[feature] = entry

# ---------------- BUTTON ----------------
ttk.Button(root, text="Calculate Price", style="Calc.TButton",
           command=calculate).pack(pady=20)

# ---------------- RESULT ----------------
result_label = ttk.Label(
    root,
    text="Predicted Price: $---",
    style="Result.TLabel"
)
result_label.pack(padx=20, pady=10, fill="x")

root.mainloop()